<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaby.ssm.mapper.dao.TeacherDao">

    <select id="query" resultType="com.gaby.ssm.model.teacher.query.Item" parameterType="map">
        SELECT
            ti.t_name AS `name`,
            ti.age
        FROM
            teacher_info ti
    </select>
</mapper>